* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* height: 100%; */
}
html {
  background-image: url("https://coolwallpapers.me/picsup/2633737-dota-2-4k-wallpaper-download.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
}
.match__title {
  margin: 50px auto;
  text-align: center;
}

@media screen and (min-width: 601px) {
  .match__teams {
    display: flex;
  }
}

@media screen and (min-width: 1201px) {
  .match__teams {
    justify-content: space-between;
  }
}
